html{

display: flex;
align-items: center;
justify-content: center;
background-color: #2d3436;
background-image: linear-gradient(360deg, black 10%, #4d2f8a 94%);

}

body{


  font-family: 'Sora', sans-serif;

  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;

}

#black{
  color: black;
}
h1{
  color: white;

  text-align: center;
  text-shadow: 50px;
  margin-top: 10px;
  font-size: 40px;

}

p{
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
}

.currentbox{
  margin: 30px ;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 5px 8px #21143d;


}
#curtex{
  color: #2c2c30;
  margin: 0px;
  padding: 0px;

}
#curnum{
  color: #2c2c30;
  margin: 0px;
  padding: 0px;

}
#sdtext{
  color: #2c2c30;
  margin: 0px;
  padding: 0px;

}
.main{
  background-color: #351f59;
  background-image: linear-gradient(360deg, #351f59 10%, #432870 94%);
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 40px;
  margin-right:40px;
  box-shadow: 9px 5px 8px #21143d;

}

.row {
  display: flex;
  justify-content: space-between;
}

button{
  font-weight: bolder;
  border-style: dotted;
  border-color: #363640;
  background-color:  white;
  text-decoration-color: #2c2c30;
  margin: auto;
  padding: 30px;
  font-size: 30px;
  margin-bottom: 20px;

}
